*{
    margin: 0%;
    padding: 0%;
}

ul li{
    list-style-type: none;
    padding: 10px 48px;
    display: inline-block;
    border-right:  5px solid white;
    
    
  }
  ul li a{
      
      text-decoration: none;
      font-size: 27px;
      color: white;
  }
ul{
    text-align: center;
    background-color: rgb(255, 26, 117); 
    margin-top:  -5px;
}
li:nth-child(1){
    border-left: 5px solid white;
}
li:hover{
    background-color: gray;
    margin-left: -5px;
    
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 7%;
    padding-left: 2%;
}
.a-button{
    color: white;
    background-color: rgb(255, 26, 117);
    padding: 7px 36px;
    text-decoration: none;
    border-radius: 7px;
    position: relative;
    top: 20px;
    display: inline-block;
}
.a-button h2{
    font-size: 20px;
}
div img{
    width: 80%
}
.peter{
    position: relative;
    top: 50px;
}
.peter2{
    position: relative;
    top: 50px;
    width: 74%;
}
.header-area{
    background-image: url(./imges/header-bg.png);
    background-size: 100%;
   
}
section{
    height: 500px;
    padding-bottom: 270px;
    
}
h1, h2{
    font-family: 'Akshar', sans-serif;
}
h1{
    font-size: 39px;
}
#name{
    margin-top: 60px;
    
}
.pink-color{
   color: rgb(255, 26, 117);
}
.biography{
    background-image: url(./imges/biography-bg.png);
    background-size: 80%;
    margin-bottom: 40px;
    
}
.mid{
    position: relative;
    top: 162px;
}
.latest-work{
    text-align: center;
    position: relative;
    top: 150px;
    background-image: url(./imges/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 64%;
    
}
.latest-work img{

    width: 26%;
    margin: 0px 30px;
    margin-bottom: 150px;
}
.footer{
    text-align: center;
    padding-bottom: 40px;
    background-image: url(./imges/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 64%;
}
.boxshadow{
    position: relative;
    top: 70px;
    box-shadow: 7px 10px 40px rgb(255, 26, 117);;
    border-radius: 20px;
    
   
}
.boxshadow img{
    position: relative;
    top: 50px;
    
}
.footer h1{
    position: relative;
    bottom: 30px;
}
.footer h3{
    position:relative;
    top: 30px;
}
.footer h4{
    font-size: 20px;
}
.footer a{
    position: relative;
    top: 96px;
}
#footer{
    text-align: center;
}